#summary p.collapse:not(.show) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#summary a.collapsed:after {
    content: 'Read More';
}

#summary a:not(.collapsed):after {
    content: 'Read Less';
}
@media screen and (max-width: 768px){
    .img-home {
        display: none;
    }
}
.table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
    }
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
    }
.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    }
.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    width: 20%;
    }
.table-fixed thead :focus {
    outline: none;
  }